@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');    
    font-weight: normal;
}

*{ /*Configuração Global.*/
    margin: 0px;
    padding: 0px;
}
:root{ /*Variavel em CSS */
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --font-android: 'Android', cursive;
}

body{
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}
a.externo::after{
    content: '\1F517';
}
header{
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 150px;
    text-align: center;
    padding-top: 30px;
}
header > h1{
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.416);
}
header > p{
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    max-width: 500px;
    margin: auto;
    padding-bottom: 40px;
    padding: 0px 10px 0px 10px;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.416);
}
nav{
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.29);
}
nav > a{
    color: var(--cor1);
    padding: 10px;
    text-decoration: none;  
    transition-duration: 0.3s;  
}
nav > a:hover{
    color: var(--cor5);
    background-color: var(--cor2);
    border-radius: 5px 5px 0px 0px;
}
main{
    margin: auto;
    margin-bottom: 30px;
    border-radius: 0px 0px 10px 10px;
    background-color: white;
    min-width: 300px;
    max-width: 700px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.47);
}
main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 1.5em;
}
main strong{
    color: var(--cor4);
    font-weight: bold;    
}
main a{
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor2);
    padding: 1px 1px 1px 4px;
    border-radius: 2px;
}
main a:hover{
    text-decoration: underline;
    color: var(--cor4);
}
main h1{
    color: var(--cor5);
    font-family: var(--font-android);
    font-weight: normal;
    font-size: 2em;
}
main h2{
    color: var(--cor4);
    font-family: var(--font-android);
    font-weight: normal;
    background-image: linear-gradient(to right, var(--cor3), transparent);
    padding: 2px 7px;
    border-radius: 2px 0px 0px 2px;
}
main img{
    width: 100%;
}
main img.pequena{
    max-width: 300px;
    display: block;
    margin: auto;
}
.video{
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 59%;
    position: relative;
}
.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;

}
aside{
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.342);
}
aside > h3{
    text-indent: 10px;
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 5px 5px 0px 0px;
}
aside > ul{
    list-style-type: '\2714\00A0';/*"00A0" é o espaço entre o check e o texto, não compatível com todos os navegadores.*/
    list-style-position: inside;
    columns: 2;
    font-size: 0.9em;    
}
footer{
    background-color: var(--cor5);
    color: white;
    text-align: center;
    padding: 5px;
    font-size: 0.8em;
}
footer a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
footer a:hover{
    text-decoration: underline;
    color: var(--cor1);
}